Source: exfat-nofuse
Section: admin
Priority: optional
Maintainer: Eugene San (eugenesan) <eugenesan@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), dh-modaliases, gcc-4.9 | gcc-5 | gcc (>= 5.3.1)
Standards-Version: 3.9.1
Homepage: https://github.com/coolshou/exfat
Vcs-Browser: https://github.com/coolshou/exfat
Vcs-Git: https://github.com/coolshou/exfat.git

Package: exfat-kernel-source
Architecture: all
Depends: ${misc:Depends}, dkms, linux-libc-dev, libc6-dev
XB-Modaliases: ${modaliases}
Recommends: exfat-utils
Conflicts: exfat-modaliases
Replaces: exfat-modaliases, exfat-fuse
Description: exFAT & FAT12/16/32 File System driver source
 This package contains exFAT & FAT12/16/32 File System driver source.
